* {
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 50px;
  position: relative;
  left: 30%;
}

.nav-bar {
  display: block;
}

.nav-bar nav {
  display: inline-block;
}

.nav-bar ul {
  display: inline-block;
}

.nav-bar ul li {
  display: inline-block;
}

.nav-bar a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px;
  margin: 5px;
  color: rgb(51, 5, 82);
}
.active{
  color: rgb(150, 25, 150);
}
.nav-bar ul li a:hover {
  color: rgb(150, 25, 150);
}
nav-bar ul li a:active {
  color: rgb(150, 25, 150);
}

.header-icons {
  display: block;
}

.header-icons i {
  margin: 20px;
}
@media screen and (max-width: 600px) {
  .head {
    display: inline-block;
  }
}

/* hero section */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
}

.details {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  word-wrap: break-word;
  width: 50%;
}

.details h2 {
  font-weight: bold;
  font-size: 32px;
}

.hero-contact {
 
  width: 100%;
  border-radius: 50px;
  height: 50px;
  border: 2px solid grey;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-content: center;
  
}

.hero-contact button {
  text-align: center;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(247, 0, 255);
  color: white;
  width: 30%;
  border: 2px solid grey;
  position: relative;
  bottom: 20%;
}

.hero-img {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hero-img img {
  width: 100%;
  height: 30%;
  padding: 0;
  margin: 0;
}

.info {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .hero {
    display: block;
    width: 100%;
    text-align: center;
  }
  .details {
    width: 100%;
  }
  .hero-contact {
    text-align: center;
  }
}

/* help section */

.help {
  margin: 20px;
  border: 2px solid white;
}

.help h2 {
  text-align: center;
}

.container-help {
  display: flex;
  justify-content: center;
  align-content: center;
}

.help-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 10px;
  text-align: center;
  width: 25%;
  position: relative;
  box-shadow: 5px 5px 5px 5px rgb(197, 192, 192);
  height: 15em;
}

.img {
  display: inline-block;
  text-align: center;
}

#btn {
  width: 120px;
  height: 30px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgb(211, 207, 207);
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .container-help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .hero-contact button {
    width: 80%;
    position: relative;
    right: 10%;
    font-size: 10px;
  }
}

/* support */

.support {
  display: block;
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
}

.support-detail {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.support-detail h2 {
  font-size: 42px;
}

.con-support {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.col-1 {
  flex: 0 0 30%;
}

.col-2 {
  flex: 0 0 70%;
  align-self: center;
}

.col-2 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(170, 168, 170);
  position: relative;
  left: 7%;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(243, 240, 247);
  padding: 10px;
  height: 150px;
}

.card:hover {
  transform: scale(1.02);
  transition: ease-in-out;
  box-shadow: 5px 5px 5px 5px rgb(180, 174, 174);
}
@media screen and (max-width: 480px) {
  .support-detail {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .con-support {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* integrations */
.software {
  display: block;
  width: 100%;
  padding-top: 30px;
}
.software-detail {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}
.software-detail h2 {
  font-size: 42px;
  font-weight: bolder;
}

.con-software {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.col-3 {
  flex: 0 0 30%;
}
.col-3 img {
  width: 100%;
  height: auto;
}
.col-4 {
  flex: 0 0 70%;
  display: flex;
  flex-wrap: wrap;
}
.card-row {
  flex: 0 0 28%;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(243, 240, 247);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .con-software {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }
  .col-4 {
    display: flex;
    flex-direction: column;
  }
  .software-detail {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
